name: Continuous Integration

on:
  push:
    branches-ignore:
      - 'master'

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: PHP Setup
        uses: ./.github/actions/php-setup

      - name: Run Unit tests
        run: ./vendor/bin/phpunit --testsuite "unit"
        shell: bash

      - name: Run Integration tests
        run: ./vendor/bin/phpunit --testsuite "integration"
        shell: bash
